
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
 }
 body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: green;
 }
 .container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: grey;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 }
 .head{
    background-color: grey ;
    padding: 20px 40px;
}
.head h2{
    margin: 0;
    text-align: center;
}
.form{
    padding: 30px 40px;
}
.form_control{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form_control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form_control input{
    border: 2px solid rgb(75, 74, 75);
    border-radius: 4px;
    float: right;
}
.form_control input #_address{
    size: 50;
}
.form_control input:focus{
    outline: none;
    border-color: #777;
}
.form button{
    background: #06640f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
    border-radius: 20%;
}



















