{% extends 'shopmaster.html' %}
{% load static %}


{% block content %}
<div class="category1">
    <h1 class="heading1">Bonsai plants</h1>
    <p>You can increase the humidity near your Bonsai tree by placing it on a humidity tray filled with water and by misting your tree a few times a day. You can also circulate air from outside, by opening a window during the day. The most important rule is, never water on a routine</p>
    <div class="container1">
        <div class="grid-item">
            <img src="{%static 'images/b1.jpg'%}" alt="">
            <div class="content">
                <h3>Evergreen</h3>
                <div class="price">$54.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/b2.jpg'%}" alt="">
            <div class="content">
                <h3>Trident Maple</h3>
                <div class="price">$43.75</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="{%static 'images/b3.jpg'%}" alt="">
            <div class="content">
                <h3>	Japanese Maple</h3>
                <div class="price">$49.30</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/b4.jpg'%}" alt="">
            <div class="content">
                <h3>Spathiphyllum Wallisii</h3>
                <div class="price">$21.50</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/bo5.jpg'%}" alt="">
            <div class="content">
                <h3>Jade plant</h3>
                <div class="price">$45.46</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/b6.jpg'%}" alt="">
            <div class="content">
                <h3>California Juniper</h3>
                <div class="price">$50.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}