{% extends 'shopmaster.html' %}
{% load static %}


{% block content %}
<div class="category1">
    <h1 class="heading1">Flowering plants</h1>
    <p>Flowering plants need more care. <br><br>Feeding your plants monthly with a balanced liquid fertilizer diluted to half of its strength
    <br><br>Provide enough light <br><br>proper watering</p>
    <div class="container1">
        <div class="grid-item">
            <img src="{%static 'images/fl1.jpg'%}" alt="">
            <div class="content">
                <h3>Anthurium</h3>
                <div class="price">$34.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/fl2.jpg'%}" alt="">
            <div class="content">
                <h3>Crown of Thorns</h3>
                <div class="price">$23.05</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="{%static 'images/fl3.jpg'%}" alt="">
            <div class="content">
                <h3>Gloxinia</h3>
                <div class="price">$29.30</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/fl4.jpg'%}" alt="">
            <div class="content">
                <h3>Ixora</h3>
                <div class="price">$16.50</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/fl5.jpg'%}" alt="">
            <div class="content">
                <h3>Geranium</h3>
                <div class="price">$22.46</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/fl6.jpg'%}" alt="">
            <div class="content">
                <h3> Cyclamen</h3>
                <div class="price">$40.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}