{% extends 'shopmaster.html' %}
{% load static %}


{% block content %}
<div class="category1">
    <h1 class="heading1">Gift plants</h1>
    <p>Choosing a gift that will stand the test of time is always a challenge, 
        but giving plants is one way to try.
         Knowing your recipient is perhaps the most important part of choosing a houseplant as a gift</p>
    <div class="container1">
        <div class="grid-item">
            <img src="{%static 'images/g1.jpg'%}" alt="">
            <div class="content">
                <h3>Spider Plant</h3>
                <div class="price">$24.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/g2.jpg'%}" alt="">
            <div class="content">
                <h3>Peace lilly</h3>
                <div class="price">$33.75</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="{%static 'images/g3.jpg'%}" alt="">
            <div class="content">
                <h3>Bamboo</h3>
                <div class="price">$29.30</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/g4.jpg'%}" alt="">
            <div class="content">
                <h3>Orchids</h3>
                <div class="price">$27.50</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/g5.jpg'%}" alt="">
            <div class="content">
                <h3>Succulents</h3>
                <div class="price">$21.46</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/g6.webp'%}" alt="">
            <div class="content">
                <h3>Christmas Cactus </h3>
                <div class="price">$40.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}