{% extends 'shopmaster.html' %}
{% load static %}


{% block content %}
<div class="category1">
    <h1 class="heading1">Indoor plants</h1>
    <p>Indoor plants needs watering one's a week. <br><br>Feeding your plants monthly with a balanced liquid fertilizer diluted to half of its strength
    <br><br>Provide enough light</p>
    <div class="container1">
        <div class="grid-item">
            <img src="{%static 'images/in1.jpg'%}" alt="">
            <div class="content">
                <h3> Syngonium Podophyllum</h3>
                <div class="price">$14.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/in2.jpg'%}" alt="">
            <div class="content">
                <h3>Dracaena Sanderiana</h3>
                <div class="price">$23.75</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="{%static 'images/in3.jpg'%}" alt="">
            <div class="content">
                <h3>Epipremnum Aureum</h3>
                <div class="price">$19.30</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/in4.jpg'%}" alt="">
            <div class="content">
                <h3>Spathiphyllum Wallisii</h3>
                <div class="price">$21.50</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/in5.jpg'%}" alt="">
            <div class="content">
                <h3>Ficus Benjamina</h3>
                <div class="price">$25.46</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/in6.jpg'%}" alt="">
            <div class="content">
                <h3> Crassula Ovata</h3>
                <div class="price">$40.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}