{% extends 'shopmaster.html' %}
{% load static %}


{% block content %}
<div class="category1">
    <h1 class="heading1">Outdoor plants</h1>
    <p>Light: Full sun except in winter <br><br>Water lightly when soil is dry</p>
    <div class="container1">
        <div class="grid-item">
            <img src="{%static 'images/out1.webp'%}" alt="">
            <div class="content">
                <h3>Begonias</h3>
                <div class="price">$25.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/out2.webp'%}" alt="">
            <div class="content">
                <h3>Fuchcia</h3>
                <div class="price">$29.75</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
        <div class="grid-item">
            <img src="{%static 'images/out3.webp'%}" alt="">
            <div class="content">
                <h3>Geranium</h3>
                <div class="price">$19.30</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/out4.webp'%}" alt="">
            <div class="content">
                <h3>Abutilon</h3>
                <div class="price">$21.50</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/out5.webp'%}" alt="">
            <div class="content">
                <h3>coleus</h3>
                <div class="price">$15.46</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>

        </div>
        <div class="grid-item">
            <img src="{%static 'images/out6.jpg'%}" alt="">
            <div class="content">
                <h3>Pretty Pistachio</h3>
                <div class="price">$30.70</div>
                <a href="#" class="_btn">Add to cart</a>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock %}