{% extends 'usermaster.html' %}
{% load static %}


{% block content %}
<div class="dash-content">
    <div class="profile">
        <div class="title">
            <i class="uil uil-user"></i>
            <span class="text">My Profile</span>
        </div>
        <table>
            <tr>
                <td>Name</td>
                <td>Anil</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>anil@gmail.com</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>skyline appartment,H.No:15,calicut</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>9879599999</td>
            </tr>

        </table>

        <button class="_btn">Update</button>

    </div>


</div>

{% endblock %}