{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <div class="head">
            <h2>Signup form</h2>
        </div>
        <form class="form" method="post" id="form" action="">
            <div class="form_control">
                <label for="" id="firstname_error"></label>
                <label>Full name</label>
                <input type="text" id="_fullname"><br><br>
                <label for="" id="email_error"></label>
                <label for="">Email*</label>
                <input type="text" id="_email"><br><br>
                <label for="" id="mobile_error"></label>
                <label for="">Mobile*</label>
                <input type="text" id="_mobile"><br><br>
                <label for="" id="password_error"></label>
                <label for="">Address</label>
                <input type="text" id="_address"><br><br>
                <label for="">Password*</label>
                <input type="text" id="_password"><br><br>
                <label for="" id="confirm_error"></label>
                <label for="">Confirm Password</label>
                <input type="text" id="_confirm"><br><br>
                <button type="submit" onclick="return _register()">Signup</button>
                
            </div>
        </form>
    </div>
   
   <script>

            
        function _register(){
            var firstname = document.getElementById('_firstname').value;
            var lastname = document.getElementById('_lastname').value;
            var email = document.getElementById('_email').value;
            var mobile = document.getElementById('_mobile').value;
            var password = document.getElementById('_password').value;
            var confirm = document.getElementById('_confirm').value;
            var status=1;
            
            if(firstname == ""){
                firstname_error.innerHTML = "please enter your firstname";
                firstname_error.style.display = "block";
                firstname_error.style.color = "red";
                _firstname.style.borderColor = "red";
                // return false;
                status=0;
            }
            else{
                firstname_error.style.display = "none";
                _firstname.style.borderColor = "violet";
                status=1;
            }

            if(email == ""){
                email_error.innerHTML = "please enter email address";
                email_error.style.display = "block";
                email_error.style.color = "red";
                _email.style.borderColor = "red";
                // return false;
                status=0;
            }
            else{
                email_error.style.display = "none";
                _email.style.borderColor = "violet";
                status=1;
            }

            if(mobile == ""){
                mobile_error.innerHTML = "please enter mobile number";
                mobile_error.style.display = "block";
                mobile_error.style.color = "red";
                _mobile.style.borderColor = "red";
                // return false;
                status=0;
            }
           
                 else if(document.getElementById('_mobile').value.length == 10){
                     mobile_error.style.display = "none";
                    _mobile.style.borderColor = "violet";
                    status=1;
                 }
                 else{
                    alert("mobile number should be 10 digits");
                    status=0;
                 }
          
            if(password == ""){
                password_error.innerHTML = "please enter password";
                password_error.style.display = "block";
                password_error.style.color = "red";
                _password.style.borderColor = "red";
                // return false;
                status=0;
                
            }
           
            else if(( document.getElementById('_password').value.length) < 8){
                alert("password must contain 8 characters");
                status=0;}
            
            else {
                password_error.style.display = "none";
                _password.style.borderColor = "violet";
                status=1;
            }
            

             if(password != confirm ){
                 confirm_error.innerHTML = "should be match with password";
                 confirm_error.style.color = "red";
                _confirm.style.borderColor = "red";
                 confirm_error.style.display = "block";  
                 // return false;
                status=0;

              }
              else{
                 confirm_error.style.display = "none";
                 _confirm.style.borderColor = "violet";
                 status=1;
              }
            if(status == 0){
                return false;
             }
            else{
                return true;
            } 
      }
    </script>
</body>
</html>  