{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    <div class="container">
        <div class="login">
            <div>
                <h2>Sign In</h2>
            </div>
            <form class="form" id="form" method="post" action="">
             <div class="_formcontrol">
                <label for="" id="error_mail"></label>
                <label for="">Email*</label>
                <input type="text" id="e_mail"><br><br>
                <label for="" id="error_password"></label>
                <label for="">Password*</label>
                <input type="password" id="pass_word"><br><br>
                <button type="submit" onclick="return _loginform()"><a href=" ">Signin</a></button>
            </div>
            </form>
        </div>
    </div>

    <script>
         
        function _loginform(){
        
            var mail = document.getElementById('e_mail').value;
             var pwd = document.getElementById('pass_word').value;
            document.getElementById("pass_word").innerHTML = localStorage.getItem("_password");
            document.getElementById("e_mail").innerHTML = localStorage.getItem("_email");

            var status=1;
         if(e_mail != mail){
                error_mail.innerHTML = "please enter email address";
                error_mail.style.display = "block";
                error_mail.style.color = "red";
                e_mail.style.borderColor = "red";
                // return false;
                status=0;
         }
         else{
                 error_mail.style.display = "none";
                e_mail.style.borderColor = "violet";
                status=1;
         }
         if(pass_word != pwd){
                error_password.innerHTML = "please enter password";
                error_password.display = "block";
                error_password.style.color = "red";
                pass_word.style.borderColor = "red";
                // return false;
                status=0;
         }
         else{
            error_password.style.display = "none";
            pass_word.style.borderColor = "violet";
            status=1;
         }
        if(status == 0){
            return false;
        } 
        else{
            return true;
        }
        }
    </script> 
</body>
</html>